<h1>Home.erb View</h1>



<div>
<!-- Temperature Form -->
<form action="" method="get" style="">
	Temp.<input name="unitinput" type="radio" value="Temperature"/>		    
	Dist.<input name="unitinput" type="radio" value="Distance" />
	Weight<input name="unitinput" type="radio" value="Weight" />
<br>
<br>
	<label><input type="text" name="Input1" value=""></label>
	&nbsp;&nbsp;Convert from: &nbsp;
	<select name="temp_units[]">
		<option value="Celcius">Celcius</option>
		<option value="Fahrenheit">Fahrenheit</option>
	</select>
	&nbsp;&nbsp;To: &nbsp;
	<select name="temp_units[]">
		<option value="Celcius">Celcius</option>
		<option value="Fahrenheit">Fahrenheit</option>
	</select>
<br>
	<input name="submitted" type="button" value="Convert" />
</form>
</div>


<div>
<!-- Distance Form -->
<form action="" method="get" style="">
	Temp.&nbsp;<input name="unitinput" type="radio" value="Temperature"/>		    
	Dist.&nbsp;<input name="unitinput" type="radio" value="Distance" />
	Weight&nbsp;<input name="unitinput" type="radio" value="Weight" />
<br>
<br>
	<label><input type="text" name="Input1" value=""></label>
	&nbsp;&nbsp;Convert from: &nbsp;
	<select name="dist_units[]">
		<option value="Miles">Miles</option>
		<option value="Kilometers">Kilometers</option>
	</select>
	&nbsp;&nbsp;To: &nbsp;
	<select name="dist_units[]">
		<option value="Miles">Miles</option>
		<option value="Kilometers">Kilometers</option>
	</select>
<br>
	<input name="submitted" type="button" value="Convert" />
</form>
</div>


<div>
<!-- Weight Form -->
<form action="" method="get" style="">
	Temp.<input name="unitinput" type="radio" value="Temperature"/>		    
	Dist.<input name="unitinput" type="radio" value="Distance" />
	Weight<input name="unitinput" type="radio" value="Weight" />
<br>
<br>
	<label><input type="text" name="Input1" value=""></label>
	&nbsp;&nbsp;Convert From: &nbsp;
	<select name="weight_units[]">
		<option value="Stone">Stone</option>
		<option value="Kilograms">Kilograms</option>
		<option value="Pounds">Pounds</option>
	</select>
	&nbsp;&nbsp;To: &nbsp;
	<select name="weight_units[]">
		<option value="Stone">Stone</option>
		<option value="Kilograms">Kilograms</option>
		<option value="Pounds">Pounds</option>
	</select>
<br>
	<input name="submitted" type="button" value="Convert" />
</form>
</div>