<h1>Temperature Conversion</h1>
<h2>(numbers only...use a decimal if needed)</h2>


<div>
	<br>
	<br>
	<br>
	<br>
	<form method="post" action="/temperature">
		Temperature to Convert:
		&nbsp;&nbsp;
		<label><input type="number" name="temp_input" value=""></label>
		&nbsp;&nbsp;
		Conversion Type: 
		&nbsp;&nbsp;
		<select name="temp_choices">
			<option value="c_to_f" name="">Celcius to Fahrenheit </option>
			<option value="f_to_c" name="">Fahrenheit to Celcius</option>
		</select>
	<br>
	<br>
	<br>
	<br>
		<input name="" type="submit" value="CONVERT"/>
	</form>
</div>



<div>
	<div>
<% if @conv_type == "c_to_f"%>
		<%= @temp_input%>˚ Celcius &nbsp;&nbsp;=&nbsp;&nbsp; <%= @temp_result%>˚ Fahrenheit
	<% elsif @conv_type == "f_to_c"%>
		<%= @temp_input%>˚ Fahrenheit &nbsp;&nbsp;=&nbsp;&nbsp; <%= @temp_result%>˚ Celcius
<% end %>
	</div>

</div>