<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="images/vinyl.png">
    <script type="text/javascript" src="global.js"></script>
    <title>Unit Conversion Tool</title>

  </head>

<body class="mainContainer">

  <nav class="topContainer">
      
      <div class="nav"> 
          <a class="nav__item" href= "/temperature">Temperature</a>
          <a class="nav__item" href= "/weight">Weight</a>
          <a class="nav__item" href= "/distance">Distance</a>
      </div>

  </nav>

<!-- The `yield` below is where the contents of a view file are put. -->
<!-- Then the combined layout + view is sent back to the client. -->
<div class="contentContainer">
  <%= yield %>
</div>




</body>

</html>

